/* Minimal responsive css */

/* Margin utilities */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25em;
}

.m-2 {
    margin: 0.5em;
}

.m-3 {
    margin: 1em;
}

.m-4 {
    margin: 1.5em;
}

.m-5 {
    margin: 3em;
}

.my-5 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.m-auto {
    margin: auto;
}

/* Padding utilities */

.p-1 {
    padding: 0.25em;
}

.p-2 {
    padding: 0.5em;
}

.p-3 {
    padding: 1em;
}

.p-4 {
    padding: 1.5em;
}

.p-5 {
    padding: 3em;
}


/* Width utilities */
.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-50 {
    width: 50%;
}

/* Flex layout */
.row {
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px) {
    .row {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.j-center {
    justify-content: center;
}

.j-space-around {
    justify-content: space-around;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

.a-baseline {
    align-items: baseline;
}

.col-1 {
    flex-basis: 10%;
}

.col-2 {
    flex-basis: 20%;
}

.col-3 {
    flex-basis: 30%;
}

.col-4 {
    flex-basis: 40%;
}

.col-5 {
    flex-basis: 50%;
}

.col-6 {
    flex-basis: 60%;
}

.col-7 {
    flex-basis: 70%;
}

.col-8 {
    flex-basis: 80%;
}

.col-9 {
    flex-basis: 90%;
}
